<% @subjects.each do |s| %>
  <ul id="subjects">
    <li><%= link_to s.name, :action => 'show_subjects', :id => s.id %></li>
  </ul>
<% end %>


<% if @books.blank? %>
  <p>There are not any books currently in the system!</p>
<% else %>
  <p>These are the current books in our system</p>

  <ul id="books">
    <% @books.each do |b| %>
      <li><%= link_to b.title, :action => 'show', :id => b.id %> <b>
      <%= link_to 'Edit', :action => 'edit', :id => b.id  %> <b>
      <%= link_to 'Delete', {:action => 'delete', :id => b.id}, {:method => :delete, :data => "Are you sure you want to delete?"} %>
    <% end %>
  </ul>
<% end %>
<p><%= link_to "Add new Book", :action => 'new' %></p>
